h1{
    background-color: lightblue;
}
p{
    background-color: lightpink;
}
span{
    background-color: lightgreen;
}
input{
    background-color: lightyellow;
}
label{
    background-color: lightgray;
}